{
    "printWidth": 80,
    "tabWidth": 2,
    "useTabs": false,
    "semi": true,
    "endOfLine": "lf",
    "arrowParens": "always",
    "trailingComma": "all",
    "htmlWhitespaceSensitivity": "strict",
    "embeddedLanguageFormatting": "auto"
}
